@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://robindelaporte.fr/codepen/play/BwModelicaSS01-ExtraBold.woff"); */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
